body{
    font-family: 'Futura PT';
    margin: 0;
}
.background-img{
    width: 100vw;
    overflow: hidden;
    position: absolute;
    clip: rect(0, 100vw, 150vh, 0);
    z-index: -1;
}
.top-img{
    margin-top: -0.8rem;
    margin-left: 2rem;
    width: 5%;
}
.top-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.top-nav{
    height: 12vh;
    display: flex;
    flex-direction: row;
}
.logo-wrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start
}
.top-logo{
    font-size: 3rem;
    color: white;
    margin-left: 1rem;
    font-weight: 800;
    text-decoration: none;
}
.content-wrapper{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-content{
    margin-right: 2rem;
}
.nav-content1{
    margin-right: 2rem;
    font-size: 3rem;
    color: white;
    visibility: hidden;
}
.href{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
}
.href:hover{
    color: black;
    background: white;
}
.main-text{
    margin: 0 auto;
    color:white;
    margin-top: 18vh;
    font-size: 5rem;
    text-align: center;
}
.try{
    color: white;
    font-weight: 800;
    border-radius: 100px;
    height: 10vh;
    font-size: 3rem;
    width: 28vw;
    background: #FF6347;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    cursor: pointer;
}
.container-mob{
    display: none;
}
@media screen and (max-width: 768px) {
    .top-img{
        width: 10%;
    }
    .top-logo{
        font-size: 2.5rem;
    }
    .nav-content{
        display: none;
    }
    .nav-content1{
        visibility: visible;
    }
    .main-text{
        font-size: 3.2rem;
        margin: 0 5vw;
        margin-top: 18vh;
    }
    .try{
        width: 60vw;
        height: 8vh;
        border-radius: 12px;
        font-size: 2rem;
        margin-top: 1.5rem;
    }
    .container-mob{
        width: 100vw;
        height: 100vh;
        background: black;
        display: none;
        z-index: 10;
    }
    .exit{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;
    }
    .i{
        display: flex;
        justify-content: flex-end;
        color: white;
        font-size: 3rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }
    .menu{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        justify-content: flex-start;
    }
    .menu-cont{
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-size: 2rem;
    }
    .menu-href{
        text-decoration: none;
        color: white;
    }
}